<div class="location">
    <div class="location1">
        <div class="card1">
            <div class="frame1">
                <div class="text">
                    <h1>
                        90 Days Return
                    </h1>
                    <div class="text-2">
                        5the Avenue, E 28th St,<br> Brooklyn NY, 2300 USA
                    </div>
                </div>
    
            </div>

        </div>
        <div class="card2">
            <div class="frame2">
                <div class="text">
                    <h1>
                        Free Delivery
                    </h1>
                    <div class="text-2">
                        5the Avenue, E 28th St,<br> London, 57th UK
                    </div>
                </div>
                
            </div>
    
        </div>
        <div class="card3">
            <div class="frame3">
                <div class="text">
                    <h1>
                        Secure Payment
                    </h1>
                    <div class="text-2">
                        5the Avenue, E 28th St,<br> Paris, 2300 Paris
                    </div>
                </div>
                
            </div>
    
        </div>
        <div class="card4">
            <div class="frame4">
                <div class="text">
                    <h1>
                        100% Free Warranty
                    </h1>
                    <div class="text-2">
                        5the Avenue, E 28th St,<br> Khalid bin Street, UAE
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
    
</div>
