/*** font-family ****/
$font-en-primary:'Montserrat', sans-serif;
$font-en-sinika:'Signika Negative',sans-serif;
$font-en-roboto: 'Roboto',sans-serif;
$font-en-roboto-flex: 'Roboto Flex',sans-serif;
$font-en-amatic: 'Amatic SC',sans-serif;


/**** containerr ***/
$container-max-width: 1560px;


// COLOR
$color-light-gray: #777777;
$color-primary:#82c341;
$heading-color: #39404a;
$sub-heading-color: #565765;
$color-danger: #ff3838;
$color-border: #e8e8e8;
$text-color: rgba(0, 0, 0, .7);
$color-secondary: #003d1f;
$color-black:#414141;
$color-orange: #ff7d09;
$color-primary-2: #143161;
$icon-default-color: #FFFFFF;
$color-white:#fff;
$table-bg-color: #FBAE01;
$table-text-color: #6a4a02;
$table-sm-color: #FE7B03;
$box-shadow-primary: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);

// FONT SIZE
$font-title-size: 38px;
$font-title-md-size: 18px;
$font-dis-size: 16px;