.images{
    width: Hug (960px)px;
    height: Hug (160px)px;
    gap: 0px;
    opacity: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 auto;
}
// @media (max-width: 599px) {
//     .footer-images{
//     //   flex-direction: column-reverse;
//             display: grid;
//             grid-template-columns: repeat(1, 1fr);
//             width: 160px;
//             height: 160px;
      
//       }
// }