<div class="footerv1">
    <div class="footerv2">
        <div class="footer">
            <div class="frame200">
                <div class="frame135">
                    <div class="logo">
                        <h2>Newsletter</h2>
                    </div>
                    <div class="Text">
                        <p>Get timely updates from your <br>favorite products</p>
                    </div>
                    <div class="contact">
                        <div class="email">
                            <img src="./assets/images/brand/svg/mail.svg">
                            <div class="emailAddress">
                                <p>ilyas.traikia@yahoo.com</p>
        
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="frame136">
                    <div class="menus">
                        <div class="menus1">
                            <h1>Services</h1>
                            <div class="list">
                                <p>Email Marketing</p>
                                <p>Brandings</p>
                                <p>Campaign</p>
                                <p>Offline</p>
                            </div>
                        </div>
                        <div class="menus2">
                            <h1>About</h1>
                            <div class="list">
                                <p>Our Story</p>
                                <p>Benefits</p>
                                <p>Team</p>
                                <p>Career</p>
                            </div>
                        </div>
                        <div class="menus3">
                            <h1>Contact</h1>
                            <div class="list">
                                <p>Facebook</p>
                                <p>Twitter</p>
                                <p>Instagram</p>
                                <p>Linkdin</p>
                            </div>
                        </div>
                        <div class="menus4">
                            <h1>Help</h1>
                            <div class="list">
                                <p>FAQ</p>
                                <p>Contact Us</p>
                                
                            </div>
                        </div>
                
                        
                    </div>
    
                </div>
    
            </div>
            
                
        
        </div>
        <div class="footer2">
            <p>Copyright© 2024. Stitch Construction. All Right Reserved.</p>
            <div class="list-footer2">
                <p>Terms of Service</p>
                <p>Privacy Policy</p>
            </div>
        </div>

    </div>
    
</div>