<div class="cont1">
    <div class="contx">
        <div class="cont2">
            <div class="h3">
                <h3>NEW ARRIVALS</h3>
    
            </div>
            <div class="h1">
                <h1>Wooden snail Decor</h1>
    
            </div>
            
            
            <button class="button button1">
                <p>Order Now</p>
            </button>
    
            
        </div>
        <div class="cont3">
            <img src="./assets/images/brand/png/item2.png">
        </div>

    </div>
    
</div>
